.App {
  text-align: center;
  /* background-color: #282c34; */
  min-height: 100vh;
  
}

.App-header{
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  background-color: #282c34;
  min-height: 100vh;


}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  padding-top: 20px;
  padding-left: auto;
  padding-right: auto;
  margin-left: auto;
  margin-right: auto;
}

.cont{
  display: flex;
}

.user, .wish, .own{
  box-sizing: border-box;
        padding: 10px; 
        float: right;
}

img {
  width: 100px;
}

a{
  color: blue;
}

Link{
  color: blue;
}
