.App {
  text-align: center;
  /* background-color: #282c34; */
  min-height: 100vh;
  
}

.App-header{
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  background-color: #282c34;
  min-height: 100vh;


}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  padding-top: 20px;
  padding-left: auto;
  padding-right: auto;
  margin-left: auto;
  margin-right: auto;
}

.cont{
  display: flex;
}

.user, .wish, .own{
  box-sizing: border-box;
        padding: 10px; 
        float: right;
}

img {
  width: 100px;
}

a{
  color: blue;
}

Link{
  color: blue;
}

 .card{
  outline:  rgb(134, 65, 8) ridge thick;
  margin-left: 10px;
  height: 300px;
  margin-bottom: 50px;
} 

video{
  width: 90%;
}

.grid{
  height: 600px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}



.App {
  background-color: #282c34;
  text-align: center;
  justify-content: center; 
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #0aedf5;
}


 .gameHead{
  outline: rgb(134, 65, 8) ridge ; 
  width: 90%;
  margin-right: auto;
  margin-left: auto;
} 

 nav{
  height: 100px;
} 

 .consleText{
  margin: .1px;
  font-size: small;
} 

 .grid{
  height: 600px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-left: auto;
  margin-right: auto;
} 



.card-body{
  overflow-x: auto; 

}  